In [ ]:
!pip install pytrends
!pip install --upgrade --user git+https://github.com/GeneralMills/pytrends
!pip install nltk
!pip install textblob
!pip install tqdm

In [4]:
import os
import numpy as np
import pandas as pd
from keyword_fetcher import KeywordFetcher

In [5]:
kf = KeywordFetcher("../data/frequent_terms.csv", "../data/frequent_bigrams.csv", "../data/frequent_trigrams.csv")

In [6]:
kw = kf.generate_keyword_list(num_features=50)

In [7]:
kw

                      keyword     count
0                 coronavirus  28120854
1                     covid19   8630451
2                       covid   8171888
3                          19   7903151
4                         nan   3888201
..                        ...       ...
145       penyebaran covid 19     36072
146          covid 19 testing     35640
147    deliver copy officials     35454
148       copy officials last     35452
149  officials last delivered     35452

[150 rows x 2 columns]

In [ ]:
result = kf.fetch_trends(kw, "2020-01-21", "2020-05-01", 'US', "../data/trends/keywords_30_US.csv")

In [12]:
result.head(1)

,coronavirus,covid19,covid,19,nan,people,via,china,amp,trump,...,due coronavirus,novel coronavirus,new york,covid 19 pandemic,coronavirus covid 19,covid 19 cases,covid 19 crisis,coronavirus death toll,due covid 19,bbc news coronavirus
date,,,,,,,,,,,,,,,,,,,,,
2020-01-21,2,0,0,9,84,54,95,39,88,30,...,0,20,63,0,0,0,0,0,0,0

In [7]:
region_list = ['IL']

In [ ]:
for region in region_list:
    kf.fetch_trends(kw, "2020-01-21", "2020-05-01", 'US-'+region, "../data/trends/keywords_150_US-{}.csv".format(region))

In [8]:
df1=pd.read_csv('../data/trends/keywords_150_US-CA.csv')
df1.insert(1, "population", 39510000)
df1.insert(1, "state", "CA")

In [9]:
df2=pd.read_csv('../data/trends/keywords_150_US-NY.csv')
df2.insert(1, "population", 19450000)
df2.insert(1, "state", "NY")

In [10]:
df3=pd.read_csv('../data/trends/keywords_150_US-CT.csv')
df3.insert(1, "population", 3565000)
df3.insert(1, "state", "CT")

In [11]:
df4=pd.read_csv('../data/trends/keywords_150_US-FL.csv')
df4.insert(1, "population", 21480000)
df4.insert(1, "state", "FL")

In [12]:
df5=pd.read_csv('../data/trends/keywords_150_US-GA.csv')
df5.insert(1, "population", 10620000)
df5.insert(1, "state", "GA")

In [13]:
df6=pd.read_csv('../data/trends/keywords_150_US-IL.csv')
df6.insert(1, "population", 12670000)
df6.insert(1, "state", "IL")

In [14]:
df7=pd.read_csv('../data/trends/keywords_150_US-MA.csv')
df7.insert(1, "population", 6893000)
df7.insert(1, "state", "MA")

In [15]:
df8=pd.read_csv('../data/trends/keywords_150_US-MD.csv')
df8.insert(1, "population", 6046000)
df8.insert(1, "state", "MD")

In [16]:
df9=pd.read_csv('../data/trends/keywords_150_US-NC.csv')
df9.insert(1, "population", 10490000)
df9.insert(1, "state", "NC")

In [17]:
df10=pd.read_csv('../data/trends/keywords_150_US-NJ.csv')
df10.insert(1, "population", 8882000)
df10.insert(1, "state", "NJ")

In [120]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10], ignore_index=True)

In [121]:
df = df.sort_values(by='date', ignore_index=True)

In [113]:
df.to_csv('../data/keywords_150_10states.csv')

In [207]:
label = pd.read_csv('../data/covid19-in-usa/us_states_covid19_daily.csv')

In [208]:
label

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
0,20200510,AK,379.0,26985.0,NaN,8.0,NaN,NaN,NaN,NaN,...,NaN,27364,27364,27364,2,0.0,0.0,914.0,1.0,915.0
1,20200510,AL,9777.0,117644.0,NaN,NaN,1240.0,NaN,460.0,NaN,...,1240.0,127421,127421,127421,1,5.0,12.0,1717.0,210.0,1927.0
2,20200510,AR,3747.0,61781.0,NaN,64.0,471.0,NaN,NaN,14.0,...,471.0,65528,65528,65528,5,0.0,0.0,0.0,0.0,0.0
3,20200510,AS,0.0,83.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,83,83,83,60,0.0,0.0,0.0,0.0,0.0
4,20200510,AZ,11119.0,126620.0,NaN,713.0,1528.0,300.0,NaN,195.0,...,1528.0,137739,137739,137739,4,4.0,14.0,8640.0,159.0,8799.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3708,20200126,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,53,0.0,0.0,0.0,0.0,0.0
3709,20200125,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,53,0.0,0.0,0.0,0.0,0.0
3710,20200124,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,53,0.0,0.0,0.0,0.0,0.0
3711,20200123,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,53,0.0,0.0,0.0,0.0,0.0
3712,20200122,WA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,53,NaN,NaN,NaN,NaN,NaN

In [106]:
from datetime import date, timedelta

In [116]:
adate = date.fromisoformat(df.loc[0]['date']) + timedelta(days=11)

In [117]:
str(adate.year) + str(adate.month).zfill(2) + str(adate.day).zfill(2)

'20200201'

In [225]:
y = []
label = label.fillna(0)
for index, row in df.iterrows():
    state = row['state']
    iso_date = row['date']
    adate = date.fromisoformat(iso_date) + timedelta(days=0)
    int_date = int(str(adate.year) + str(adate.month).zfill(2) + str(adate.day).zfill(2))
    label_row = label.loc[(label['state']==state) & (label['date']==int_date)]
    assert(len(label_row)==0 or len(label_row)==1)
    if label_row.empty:
        y.append(0)
    else:
        y.append(label_row['positiveIncrease'].values[0])

In [1]:
from data_parser import DataParser

In [6]:
dp = DataParser(keywords_path="../data/trends/keywords_150_10states.csv", 
                cases_path="../data/covid19-in-usa/us_states_covid19_daily.csv", 
                start_date="2020-03-01", end_date="2020-05-01")

In [7]:
y = dp.process_labels_state()

In [10]:
print(y)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0, 0, 0.0, 0, 0, 0.0, 16.0, 0, 0.0, 0.0, 0.0, 1.0, 0.0, 7.0, 0.0, 0.0, 7.0, 1.0, 11.0, 3.0, 0.0, 0, 0, 0.0, 9.0, 5.0, 3.0, 43.0, 0.0, 0.0, 1.0, 4.0, 0, 0.0, 0.0, 0, 2.0, 1.0, 3.0, 1.0, 0.0, 19.0, 29.0, 0.0, 26.0, 0.0, 1.0, 1.0, 2.0, 0, 37.0, 0.0, 5.0, 5.0, 1.0, 19.0, 0, 12.0, 1.0, 5.0, 5.0, 1.0, 4.0, 31.0, 0.0, 3.0, 0, 5.0, 43.0, 0.0, 9.0, 9.0, 1.0, 24.0, 3.0, 6.0, 45.0, 9.0, 5.0, 0.0, 3.0, 4.0, 6.0, 0.0, 20.0, 11.0, 205.0, 18.0, 7.0, 3.0, 0.0, 0.0, 15.0, 5.0, 24.0, 0.0, 9.0, 14.0, 50.0, 103.0, 27.0, 5.0, 8.0, 15.0, 5.0, 26.0, 33.0, 48.0, 205.0, 18.0, 41.0, 9.0, 39.0, 9.0, 22.0, 80.0, 42.0, 33.0, 1.0, 6.0, 6.0, 29.0, 221.0, 25.0, 25.0, 21.0, 45.0, 750.0, 20.0, 7.0, 66.0, 15.0, 89.0, 148.0, 129.0, 51.0, 28.0, 128.0, 128.0, 38.0, 160.0, 27.0, 682.0, 23.0, 73.0, 90.0, 1770.0, 34.0, 22.0, 76.0, 313.0, 28.0, 315.0, 134.0, 98.0, 163.0, 2950.0, 130.0, 139.0, 133.0, 85.0, 148.0, 42.0, 40.0, 138.0, 87.0, 112.0, 3254.0, 168.0, 0.0, 216.0, 47.0, 437.0, 41.0, 257.0, 296.0, 121.0, 54.0, 4812.0, 172.0, 93.0, 587.0, 29.0, 71.0, 197.0, 42.0, 930.0, 5707.0, 192.0, 341.0, 131.0, 172.0, 224.0, 44.0, 262.0, 831.0, 382.0, 101.0, 4790.0, 241.0, 254.0, 369.0, 203.0, 61.0, 106.0, 727.0, 679.0, 330.0, 74.0, 5146.0, 221.0, 253.0, 270.0, 257.0, 673.0, 6447.0, 137.0, 157.0, 579.0, 651.0, 673.0, 278.0, 2474.0, 132.0, 1949.0, 127.0, 410.0, 279.0, 488.0, 873.0, 833.0, 194.0, 476.0, 7377.0, 365.0, 2299.0, 998.0, 172.0, 764.0, 1007.0, 218.0, 7683.0, 465.0, 0.0, 483.0, 698.0, 702.0, 1105.0, 2262.0, 285.0, 1065.0, 247.0, 7195.0, 105.0, 3250.0, 461.0, 267.0, 174.0, 1227.0, 578.0, 797.0, 739.0, 6984.0, 158.0, 868.0, 865.0, 191.0, 1120.0, 247.0, 9298.0, 937.0, 557.0, 2060.0, 1035.0, 1118.0, 673.0, 325.0, 7917.0, 86.0, 429.0, 986.0, 617.0, 3559.0, 709.0, 1055.0, 273.0, 346.0, 8669.0, 715.0, 267.0, 1036.0, 710.0, 1228.0, 3335.0, 483.0, 1510.0, 1436.0, 427.0, 1209.0, 4305.0, 1575.0, 1090.0, 10482.0, 236.0, 329.0, 4229.0, 362.0, 367.0, 1325.0, 1453.0, 10841.0, 309.0, 1526.0, 1334.0, 3381.0, 1040.0, 8327.0, 765.0, 1412.0, 484.0, 487.0, 899.0, 399.0, 183.0, 667.0, 1337.0, 3585.0, 1006.0, 898.0, 436.0, 285.0, 1173.0, 1231.0, 8658.0, 3326.0, 1365.0, 351.0, 1423.0, 1529.0, 8174.0, 875.0, 326.0, 1504.0, 1287.0, 1529.0, 708.0, 3021.0, 0.0, 10453.0, 1158.0, 205.0, 1092.0, 1588.0, 1083.0, 1352.0, 225.0, 3590.0, 909.0, 1344.0, 656.0, 2151.0, 2003.0, 665.0, 10621.0, 754.0, 1163.0, 257.0, 1465.0, 917.0, 1167.0, 2035.0, 783.0, 3561.0, 10575.0, 676.0, 404.0, 1888.0, 972.0, 9946.0, 3563.0, 726.0, 963.0, 1293.0, 0.0, 293.0, 8236.0, 2615.0, 861.0, 208.0, 2322.0, 1672.0, 531.0, 525.0, 3699.0, 863.0, 1246.0, 2734.0, 554.0, 1413.0, 296.0, 1173.0, 1346.0, 711.0, 6337.0, 4240.0, 1222.0, 608.0, 208.0, 1315.0, 766.0, 536.0, 908.0, 990.0, 7177.0, 11571.0, 766.0, 1861.0, 1144.0, 560.0, 99.0, 764.0, 1086.0, 1346.0, 2206.0, 1129.0, 342.0, 386.0, 1758.0, 8505.0, 682.0, 1140.0, 752.0, 4287.0, 2522.0, 1842.0, 1222.0, 1346.0, 3150.0, 1525.0, 7358.0, 394.0, 788.0, 925.0, 2633.0, 2402.0, 1435.0, 7090.0, 1585.0, 2953.0, 0.0, 475.0, 1150.0, 281.0, 736.0, 6054.0, 1197.0, 632.0, 522.0, 727.0, 741.0, 1370.0, 353.0, 2293.0, 3881.0, 664.0, 3505.0, 4726.0, 271.0, 854.0, 1151.0, 1596.0, 645.0, 646.0, 2265.0, 187.0, 509.0, 2283.0, 835.0, 4178.0, 3581.0, 1752.0, 1551.0, 545.0, 934.0, 859.0, 3478.0, 2109.0, 2135.0, 1745.0, 5526.0, 2049.0, 582.0, 269.0, 814.0, 1973.0, 1826.0, 388.0, 4124.0, 962.0, 772.0, 523.0, 631.0, 3079.0, 6244.0, 2977.0, 1885.0, 8130.0, 879.0, 821.0, 2207.0, 1342.0, 2724.0, 444.0, 635.0, 1150.0, 2379.0, 3327.0, 571.0, 2119.0, 1883.0, 10553.0, 661.0, 665.0, 548.0, 2126.0, 3515.0, 207.0, 706.0, 1027.0, 1590.0, 815.0, 5902.0, 687.0, 689.0, 1980.0, 610.0, 906.0, 2150.0, 312.0, 512.0, 0.0, 1524.0, 1300.0, 3951.0, 702.0, 1043.0, 708.0, 1840.0, 2219.0, 3110.0, 1567.0, 2668.0, 426.0, 626.0, 957.0, 2253.0, 4585.0, 455.0, 2408.0, 736.0, 1469.0, 347.0, 380.0, 1963.0, 2388.0, 583.0, 4681.0, 561.0, 497.0, 2417.0, 2563.0, 1940.0, 893.0, 933.0, 414.0, 1115.0, 1730.0, 2106.0, 3137.0, 1038.0, 1064.0, 3942.0, 1525.0, 2538.0]