In [ ]:
!pip install pytrends
!pip install --upgrade --user git+https://github.com/GeneralMills/pytrends
!pip install nltk
!pip install textblob
!pip install tqdm

In [2]:
import os
import numpy as np
import pandas as pd
from keyword_fetcher import KeywordFetcher

In [3]:
kf = KeywordFetcher("../data/frequent_terms.csv", "../data/frequent_bigrams.csv", "../data/frequent_trigrams.csv")

In [4]:
kw = kf.generate_keyword_list(num_features=50)

In [5]:
kw

                      keyword     count
0                 coronavirus  28120854
1                     covid19   8630451
2                       covid   8171888
3                          19   7903151
4                         nan   3888201
..                        ...       ...
145       penyebaran covid 19     36072
146          covid 19 testing     35640
147    deliver copy officials     35454
148       copy officials last     35452
149  officials last delivered     35452

[150 rows x 2 columns]

In [10]:
result = kf.fetch_trends(kw, "2020-01-21", "2020-05-01", 'US', "../data/trends/keywords_30_US.csv")

Fetching...: 100%|██████████| 29/29 [00:34<00:00,  1.17s/it]

In [12]:
result.head(1)

,coronavirus,covid19,covid,19,nan,people,via,china,amp,trump,...,due coronavirus,novel coronavirus,new york,covid 19 pandemic,coronavirus covid 19,covid 19 cases,covid 19 crisis,coronavirus death toll,due covid 19,bbc news coronavirus
date,,,,,,,,,,,,,,,,,,,,,
2020-01-21,2,0,0,9,84,54,95,39,88,30,...,0,20,63,0,0,0,0,0,0,0

In [8]:
region_list = ['IL']

In [7]:
for region in region_list:
    kf.fetch_trends(kw, "2020-01-21", "2020-05-01", 'US-'+region, "../data/trends/keywords_150_US-{}.csv".format(region))

Fetching Region: US-NY: 100%|██████████| 149/149 [02:30<00:00,  1.01s/it]
Fetching Region: US-NJ: 100%|██████████| 149/149 [02:15<00:00,  1.10it/s]
Fetching Region: US-NC: 100%|██████████| 149/149 [02:17<00:00,  1.08it/s]
Fetching Region: US-CA: 100%|██████████| 149/149 [02:16<00:00,  1.10it/s]
Fetching Region: US-FL: 100%|██████████| 149/149 [02:16<00:00,  1.09it/s]
Fetching Region: US-GA: 100%|██████████| 149/149 [02:22<00:00,  1.05it/s]
Fetching Region: US-MA: 100%|██████████| 149/149 [02:17<00:00,  1.09it/s]
Fetching Region: US-MI: 100%|██████████| 149/149 [02:16<00:00,  1.09it/s]
Fetching Region: US-MD: 100%|██████████| 149/149 [02:17<00:00,  1.08it/s]
Fetching Region: US-CT: 100%|██████████| 149/149 [02:16<00:00,  1.09it/s]
Fetching Region: US-IL:  67%|██████▋   | 100/149 [01:32<00:46,  1.05it/s]

ResponseError: The request failed: Google returned a response with code 429.

In [24]:
df1=pd.read_csv('../data/trends/keywords_150_US-CA.csv')
df1.insert(1, "population", 39510000)
df1.insert(1, "state", "CA")
df1

,date,state,population,coronavirus,covid19,covid,19,nan,people,via,...,cases covid 19,amid coronavirus pandemic,covid 19 response,primer caso coronavirus,gt virus coronavirus,coronavirus sars flu,virus coronavirus sars,virus covid 19,penyebaran covid 19,covid 19 testing
0,2020-01-21,CA,39510000,2,0,0,9,80,54,97,...,0,0,0,0,0,8,33,0,0,0
1,2020-01-22,CA,39510000,4,0,0,9,83,55,95,...,0,0,0,3,43,15,45,0,0,0
2,2020-01-23,CA,39510000,5,0,0,8,76,58,90,...,0,0,0,2,0,12,46,0,0,0
3,2020-01-24,CA,39510000,8,0,0,9,78,57,91,...,0,0,0,1,45,19,64,0,0,0
4,2020-01-25,CA,39510000,10,0,0,8,73,50,72,...,0,0,0,2,0,36,78,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,2020-04-27,CA,39510000,30,44,73,60,86,76,72,...,45,17,48,9,0,5,10,32,10,67
98,2020-04-28,CA,39510000,29,43,69,58,87,78,72,...,41,34,32,6,38,5,12,33,13,72
99,2020-04-29,CA,39510000,28,42,69,59,85,79,70,...,39,34,43,6,0,6,12,32,16,70
100,2020-04-30,CA,39510000,26,41,67,56,91,79,71,...,40,32,35,8,0,7,11,30,16,69
101,2020-05-01,CA,39510000,27,40,67,56,95,80,52,...,40,56,21,6,0,5,11,27,7,61

In [25]:
df2=pd.read_csv('../data/trends/keywords_150_US-NY.csv')
df2.insert(1, "population", 19450000)
df2.insert(1, "state", "NY")
df2

,date,state,population,coronavirus,covid19,covid,19,nan,people,via,...,cases covid 19,amid coronavirus pandemic,covid 19 response,primer caso coronavirus,gt virus coronavirus,coronavirus sars flu,virus coronavirus sars,virus covid 19,penyebaran covid 19,covid 19 testing
0,2020-01-21,NY,19450000,2,0,0,9,75,54,97,...,0,0,0,0,0,2,33,0,0,0
1,2020-01-22,NY,19450000,4,0,0,9,83,55,95,...,0,0,0,3,43,9,45,0,0,0
2,2020-01-23,NY,19450000,5,0,0,8,69,58,90,...,0,0,0,2,0,18,46,0,0,0
3,2020-01-24,NY,19450000,8,0,0,9,82,57,91,...,0,0,0,1,45,27,64,0,0,0
4,2020-01-25,NY,19450000,10,0,0,8,67,50,72,...,0,0,0,2,0,39,78,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,2020-04-27,NY,19450000,30,44,73,60,81,76,72,...,45,17,47,9,0,4,10,32,6,67
98,2020-04-28,NY,19450000,29,43,69,58,91,78,72,...,41,34,31,6,38,4,12,33,14,72
99,2020-04-29,NY,19450000,27,42,69,59,79,79,70,...,39,34,43,6,0,10,12,32,14,70
100,2020-04-30,NY,19450000,25,41,67,56,86,79,71,...,40,32,35,8,0,8,11,30,18,69
101,2020-05-01,NY,19450000,27,40,67,56,95,80,52,...,40,56,26,6,0,7,11,27,7,61

In [28]:
pd.concat([df1, df2], axis=0, ignore_index=True)

,date,state,population,coronavirus,covid19,covid,19,nan,people,via,...,cases covid 19,amid coronavirus pandemic,covid 19 response,primer caso coronavirus,gt virus coronavirus,coronavirus sars flu,virus coronavirus sars,virus covid 19,penyebaran covid 19,covid 19 testing
0,2020-01-21,CA,39510000,2,0,0,9,80,54,97,...,0,0,0,0,0,8,33,0,0,0
1,2020-01-22,CA,39510000,4,0,0,9,83,55,95,...,0,0,0,3,43,15,45,0,0,0
2,2020-01-23,CA,39510000,5,0,0,8,76,58,90,...,0,0,0,2,0,12,46,0,0,0
3,2020-01-24,CA,39510000,8,0,0,9,78,57,91,...,0,0,0,1,45,19,64,0,0,0
4,2020-01-25,CA,39510000,10,0,0,8,73,50,72,...,0,0,0,2,0,36,78,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,2020-04-27,NY,19450000,30,44,73,60,81,76,72,...,45,17,47,9,0,4,10,32,6,67
200,2020-04-28,NY,19450000,29,43,69,58,91,78,72,...,41,34,31,6,38,4,12,33,14,72
201,2020-04-29,NY,19450000,27,42,69,59,79,79,70,...,39,34,43,6,0,10,12,32,14,70
202,2020-04-30,NY,19450000,25,41,67,56,86,79,71,...,40,32,35,8,0,8,11,30,18,69
203,2020-05-01,NY,19450000,27,40,67,56,95,80,52,...,40,56,26,6,0,7,11,27,7,61