In [ ]:
!pip install pytrends
!pip install --upgrade --user git+https://github.com/GeneralMills/pytrends
!pip install nltk
!pip install textblob
!pip install tqdm

In [1]:
import os
import numpy as np
import pandas as pd
from keyword_fetcher import KeywordFetcher

In [2]:
kf = KeywordFetcher("../data/frequent_terms.csv", "../data/frequent_bigrams.csv", "../data/frequent_trigrams.csv")

In [3]:
kw = kf.generate_keyword_list(num_features=10)

In [4]:
kw

                   keyword     count
0              coronavirus  28120854
1                  covid19   8630451
2                    covid   8171888
3                       19   7903151
4                      nan   3888201
5                   people   2645140
6                      via   2321653
7                    china   2225140
8                      amp   2143277
9                    trump   2038513
10                covid 19   1857560
11    coronavirus outbreak    596717
12     coronavirus covid19    482416
13    coronavirus pandemic    424509
14       coronavirus cases    360891
15     covid19 coronavirus    344631
16             via youtube    319903
17         due coronavirus    256474
18       novel coronavirus    251207
19                new york    249719
20       covid 19 pandemic    222857
21    coronavirus covid 19    183073
22       href rel nofollow    131249
23          covid 19 cases    129913
24           true href rel    128585
25    rel nofollow twitter    112079
26         covid 19 crisis    101738
27  coronavirus death toll     88374
28            due covid 19     87122
29    bbc news coronavirus     85588

In [7]:
result = kf.fetch_trends(kw, "2020-01-21", "2020-05-01", 'US-NY')

Fetching...: 100%|██████████| 29/29 [00:38<00:00,  1.33s/it]

In [9]:
result

,coronavirus,covid19,covid,19,nan,people,via,china,amp,trump,...,due coronavirus,novel coronavirus,new york,covid 19 pandemic,coronavirus covid 19,covid 19 cases,covid 19 crisis,coronavirus death toll,due covid 19,bbc news coronavirus
date,,,,,,,,,,,,,,,,,,,,,
2020-01-21,2,0,0,9,85,52,95,39,88,30,...,0,20,63,0,0,0,0,0,0,0
2020-01-22,4,0,0,8,84,55,92,45,90,32,...,0,27,63,0,0,0,0,1,0,1
2020-01-23,5,0,0,8,74,56,90,53,88,30,...,0,35,61,0,0,0,0,2,0,3
2020-01-24,8,0,0,9,77,54,91,64,91,30,...,0,44,62,0,0,0,0,4,0,4
2020-01-25,10,0,0,8,76,51,73,67,83,28,...,1,42,62,0,0,0,0,9,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-27,29,45,72,60,85,76,73,37,94,40,...,9,16,62,46,44,45,50,38,45,23
2020-04-28,28,42,70,58,96,75,71,37,94,35,...,7,18,62,41,45,40,46,37,38,26
2020-04-29,27,43,68,59,83,80,69,38,100,31,...,8,15,60,40,43,38,56,39,41,26
2020-04-30,25,40,67,57,91,76,70,37,97,31,...,8,14,62,37,39,39,47,35,41,22
2020-05-01,27,39,66,56,94,79,52,40,100,33,...,8,13,65,42,39,40,44,36,33,22

In [ ]:
region