In [ ]:
!pip install pytrends
!pip install --upgrade --user git+https://github.com/GeneralMills/pytrends
!pip install nltk
!pip install textblob
!pip install tqdm

In [4]:
import os
import numpy as np
import pandas as pd
from keyword_fetcher import KeywordFetcher

In [5]:
kf = KeywordFetcher("../data/frequent_terms.csv", "../data/frequent_bigrams.csv", "../data/frequent_trigrams.csv")

In [6]:
kw = kf.generate_keyword_list(num_features=50)

In [7]:
kw

                      keyword     count
0                 coronavirus  28120854
1                     covid19   8630451
2                       covid   8171888
3                          19   7903151
4                         nan   3888201
..                        ...       ...
145       penyebaran covid 19     36072
146          covid 19 testing     35640
147    deliver copy officials     35454
148       copy officials last     35452
149  officials last delivered     35452

[150 rows x 2 columns]

In [ ]:
result = kf.fetch_trends(kw, "2020-01-21", "2020-05-01", 'US', "../data/trends/keywords_30_US.csv")

In [12]:
result.head(1)

,coronavirus,covid19,covid,19,nan,people,via,china,amp,trump,...,due coronavirus,novel coronavirus,new york,covid 19 pandemic,coronavirus covid 19,covid 19 cases,covid 19 crisis,coronavirus death toll,due covid 19,bbc news coronavirus
date,,,,,,,,,,,,,,,,,,,,,
2020-01-21,2,0,0,9,84,54,95,39,88,30,...,0,20,63,0,0,0,0,0,0,0

In [7]:
region_list = ['IL']

In [ ]:
for region in region_list:
    kf.fetch_trends(kw, "2020-01-21", "2020-05-01", 'US-'+region, "../data/trends/keywords_150_US-{}.csv".format(region))

In [8]:
df1=pd.read_csv('../data/trends/keywords_150_US-CA.csv')
df1.insert(1, "population", 39510000)
df1.insert(1, "state", "CA")

In [9]:
df2=pd.read_csv('../data/trends/keywords_150_US-NY.csv')
df2.insert(1, "population", 19450000)
df2.insert(1, "state", "NY")

In [10]:
df3=pd.read_csv('../data/trends/keywords_150_US-CT.csv')
df3.insert(1, "population", 3565000)
df3.insert(1, "state", "CT")

In [11]:
df4=pd.read_csv('../data/trends/keywords_150_US-FL.csv')
df4.insert(1, "population", 21480000)
df4.insert(1, "state", "FL")

In [12]:
df5=pd.read_csv('../data/trends/keywords_150_US-GA.csv')
df5.insert(1, "population", 10620000)
df5.insert(1, "state", "GA")

In [13]:
df6=pd.read_csv('../data/trends/keywords_150_US-IL.csv')
df6.insert(1, "population", 12670000)
df6.insert(1, "state", "IL")

In [14]:
df7=pd.read_csv('../data/trends/keywords_150_US-MA.csv')
df7.insert(1, "population", 6893000)
df7.insert(1, "state", "MA")

In [15]:
df8=pd.read_csv('../data/trends/keywords_150_US-MD.csv')
df8.insert(1, "population", 6046000)
df8.insert(1, "state", "MD")

In [16]:
df9=pd.read_csv('../data/trends/keywords_150_US-NC.csv')
df9.insert(1, "population", 10490000)
df9.insert(1, "state", "NC")

In [17]:
df10=pd.read_csv('../data/trends/keywords_150_US-NJ.csv')
df10.insert(1, "population", 8882000)
df10.insert(1, "state", "NJ")

In [18]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10], ignore_index=True)

In [20]:
df.sort_values(by='date', ignore_index=True)

,date,state,population,coronavirus,covid19,covid,19,nan,people,via,...,cases covid 19,amid coronavirus pandemic,covid 19 response,primer caso coronavirus,gt virus coronavirus,coronavirus sars flu,virus coronavirus sars,virus covid 19,penyebaran covid 19,covid 19 testing
0,2020-01-21,CA,39510000,2,0,0,9,80,54,97,...,0,0,0,0,0,8,33,0,0,0
1,2020-01-21,NC,10490000,2,0,0,9,80,54,97,...,0,0,0,0,0,8,34,0,0,0
2,2020-01-21,MD,6046000,2,0,0,9,75,54,96,...,0,0,0,0,0,8,33,0,0,0
3,2020-01-21,MA,6893000,2,0,0,9,80,54,97,...,0,0,0,0,0,8,34,0,0,0
4,2020-01-21,IL,12670000,2,0,0,9,83,55,97,...,0,0,0,1,0,6,29,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,2020-05-01,CT,3565000,27,40,67,56,95,80,51,...,40,56,26,6,0,5,11,27,7,61
1016,2020-05-01,NY,19450000,27,40,67,56,95,80,52,...,40,56,26,6,0,7,11,27,7,61
1017,2020-05-01,CA,39510000,27,40,67,56,95,80,52,...,40,56,21,6,0,5,11,27,7,61
1018,2020-05-01,NC,10490000,27,40,67,56,95,80,52,...,40,56,26,6,0,5,10,26,7,61
1019,2020-05-01,NJ,8882000,27,40,67,56,95,80,52,...,40,56,29,6,0,5,11,27,7,68

In [21]:
df.to_csv('../data/keywords_150_10states.csv')